/* Estilos gerais */
body {
    background-image: url('placeholder_fundo.png');
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

div {
    background-color: #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative; /* Necessário para o posicionamento absoluto do botão */
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 9px;
}

.botao {
    display: inline-block;
    width: 99%;
    padding: 6px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #38b63e;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.voltar-btn {
    position: absolute;
    top: 17px;
    left: 250px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
 
}

.voltar-btn:hover {
    background-color: #0056b3;
}
